@import "../../responsive.scss";
.singlePage {
  display: flex;
  height: 100%;
  @include md {
    flex-direction: column;
    overflow-y: scroll;
  }
  .details {
    height: 100%;
    overflow-y: scroll;
    flex: 3;
    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 20px;
    }
    .wrapper {
      padding-right: 50px;
      @include md {
        padding-right: 0px;
      }

      .info {
        margin-top: 40px;
        .top {
          display: flex;
          justify-content: space-between;
          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
              font-weight: 400;
            }
            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #888;
              font-size: 14px;

              img {
                width: 16px;
              }
            }
            .price {
              padding: 5px;
              background-color: #40a2d8;
              width: max-content;
              border-radius: 5px;
              font-weight: 400;
              border: 1px solid black;
            }
          }
          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0px 20px;
            border-radius: 10px;
            background-color: #40A2D8;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 40px;
          color: #555;
          line-height: 20px;
        }
      }
    }
  }
  .features {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%; 
    overflow-y: scroll;
    @include md {
      flex: none;
      height: max-content;
    }
    .wrapper {
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      @include md {
        padding-right: 0px;
      }
      .title {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 5px;
      }
      .feature {
        display: flex;
        align-items: center;
        gap: 10px;
        .featureText {
          span {
            font-weight: 550;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        background-color: white;
        padding: 10px 10px;
        border-radius: 10px;
      }
      .sizes {
        display: flex;
        justify-content: space-between;
        @include lg {
          font-size: 14px;
        }
        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
          padding: 7px;
          border-radius: 10px;
          img {
            background-color: white;
          }
        }
      }
      .listHorizontal {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        background-color: white;
        padding: 10px 10px;
        border-radius: 10px;
      }
      img {
        width: 35px;
        height: 35px;
        background-color: rgb(243, 243, 219);
        border-radius: 7px;
        padding: 4px;
      }
      .mapContainer {
        display: flex;
        width: 100%;
        height: 200px;
        overflow: hidden;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
        button {
          background-color: white;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          border-radius: 10px;
          padding: 4px;
          border: none;
        }
      }
    }
  }
}
