@import "../../responsive.scss";

.listPage {
  display: flex;
  height: 100vh;

  .listContainer {
    width: 100%;
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 50px;
      @include lg {
        padding-right: 0px;
      }
    }
  }
  // .mapContainer {
  //   flex: 2;
  //   background-color: #fcf5f3;
  //   height: 100vh;
  // }
}
