@import "../../responsive.scss";

.searchBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .type {
    button {
      padding: 10px 20px;
      border: 1px solid black;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: #6db0f0;
        font-weight: 600;
      }

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  form {
    display: flex;
    border: none;
    justify-content: space-between;
    height: 40px;
    gap: 4px;
    @include sm {
      flex-direction: column;
    }
    input {
      padding: 0px 10px;
      width: 200px;
      border: 1px solid black;
      border-radius: 10px;
      @include lg {
        padding: 0px 5px;
        &:nth-child(2),
        &::nth-child(3) {
          width: 120px;
        }
      }
      @include md {
        width: auto;
        padding: 10px;
      }

      @include sm {
        border: 1px solid gray;
        margin: 5px 0;
      }
    }
    button {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #6db0f0;
      border-radius: 50%;
      padding: 10px;
      img {
        object-fit: cover;
        width: 20px;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      @include md {
        border-radius: 10px;
      }
    }
  }
}
